@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
 margin: 0;
}

body {
 font-family: 'Open Sans',
 sans-serif;
 background-color: #36393f;
 color: white;
}
body a {
 color: white;
 text-decoration: none;
}
nav {
 display: flex;
 background-color: #202225;
 padding: 10px;
}
.nav-bar {
 display: flex;
}

.nav-branding {
 flex: 1 1 auto;
}
.nav-branding {
 font-size: 25px;
 color: #7289DA;
 font-weight: 600;
 padding-top: 5px;
}
.nav-branding i {
 font-weight: 100;
}
.nav-branding:hover {
 cursor: pointer;
 color: white;
 transition: .3s;
}
.nav-item {
 flex: 0 1 auto;
}
.nav-item ul{
 list-style-type: none;
 display: flex;

}
.nav-item ul li {
 padding: 10px;
 cursor: pointer;
 font-weight: 700;
}
.nav-item ul li:hover {
 color: #7289DA;
 transition: .3s;
 
}

.body-home {
 display: flex;
 
}
.body-home {
 justify-content:center;
 margin-top: 20px;
}
.card {
 
 background-color: #202225;
 padding: 20px;
 border-radius: 5px;
 text-align: center;
 margin-left: 10px;
}
.card .btn {
 background-color: #7289DA;
 border-radius: 3px;
 width: 50%;
 margin-top: 20px;
}
.card .btn:hover {
 background-color: #36393f;
 transition: .2s;
 
}